* {
  font-family: 'Poppins', sans-serif;
  size: 10px;
  background-image: url("images/1025-536x354.jpg");
  background-repeat: no-repeat;
  backdrop-filter: blur(1px);
}

h1 {
  color: white;
  text-align: center;
}

container {
  color: blue;
  radius: 5px;
}
